# Gradle
.gradle/
build/
**/build/
.kotlin/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Native build
.cxx/
**/.cxx/
.externalNativeBuild/
**/.externalNativeBuild/

# Logs / OS
*.log
.DS_Store

# Android outputs
*.aab
*.apk
output-metadata.json

# Captures / profiling
captures/
*.hprof

# Keystores
*.jks
*.keystore

# Google Services
google-services.json
